.contact header .nav-links a:nth-of-type(3) {
  color: var(--accent-bronze) !important;
}

.contact main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact main .tagline {
  margin-top: 2%;
  color: var(--accent-bronze);
}

.contact main .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contact main .box {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 25px;
  margin-top: 1%;
}

.contact main .info-header {
  margin-left: 2%;
  color: var(--accent-bronze);
}

.contact main .socials {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin-left: 2%;
  padding: 10px;
}

.contact main .icons a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.contact main .icons img {
  top: auto;
  width: 30px;
  height: 30px;
}

.contact main .icons span {
  font-size: 1.2rem;
  color: var(--text-primary);
  cursor: pointer;
}

.contact main .icons a span:hover {
  color: var(--accent-bronze);
}

.contact main .info table {
  table-layout: fixed;
  margin-left: 2%;
  border-collapse: collapse;
  width: 60%;
}

.contact main .info th {
  text-align: left;
  color: var(--accent-bronze);
}

.contact main .info td {
  padding: 10px;
}

.contact main .add-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 2%;
}

.contact main .add-info h2 {
  color: var(--accent-bronze);
  margin-bottom: 0;
}

.contact main .add-info p {
  font-size: 1.1rem;
}

.contact main footer {
  margin-top: 28%;
  padding-bottom: 5%;
}